[worldserver]

############################################
#       Starting Pet configuration         #
############################################

###################################################################################################
#   StartingPet.Enable
#       Description: Enable Starting Pet Module
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.Enable = 1

#   StartingPet.Announce
#       Description: Announce Module
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.Announce = 1

#   StartingPet.HunterPet
#       Description: Enables Hunter Starting Pet
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.HunterPet = 1

#   StartingPet.HunterPet.<Race>
#       Description: Creature template used as the persistent starting pet for
#                    each playable WotLK Hunter race. Set an entry to 0 to skip
#                    pet creation for that race.
#
#       Defaults:    Orc       - Mottled Boar (3098)
#                    Dwarf     - Young Black Bear (1128)
#                    Night Elf - Young Nightsaber (2031)
#                    Tauren    - Plainstrider (2955)
#                    Troll     - Bloodtalon Taillasher (3122)
#                    Blood Elf - Feral Dragonhawk Hatchling (15649)
#                    Draenei   - Ravager Specimen (17199)

StartingPet.HunterPet.Orc = 3098
StartingPet.HunterPet.Dwarf = 1128
StartingPet.HunterPet.NightElf = 2031
StartingPet.HunterPet.Tauren = 2955
StartingPet.HunterPet.Troll = 3122
StartingPet.HunterPet.BloodElf = 15649
StartingPet.HunterPet.Draenei = 17199

#   StartingPet.RandName
#       Description: Set random Name for Pet
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.RandName = 1

#   StartingPet.WarlockMinion
#       Description: Specifies the minions warlocks can start with and teaches them the according spell
#                    Note that minion spells also have a minimum level and might not have any spells on low levels
#                    This is a bitmask value of the following options
#
#                    1 - Imp
#                    2 - Voidwalker
#                    4 - Succubus
#                    8 - Felhunter
#                   16 - Felguard (only possible starting minion, does not teach spell)
#                   32 - Drain Soul (teaches spell, required for Soul Shards)
#
#       Example:    41 - Imp, Felhunter, Drain Soul
#                    0 - disabled
#
#       Default:    1 (Imp only)

StartingPet.WarlockMinion = 1
