[worldserver]

############################################
#       Starting Pet configuration         #
############################################

###################################################################################################
#   StartingPet.Enable
#       Description: Enable Starting Pet Module
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.Enable = 1

#   StartingPet.Announce
#       Description: Announce Module
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.Announce = 1

#   StartingPet.HunterPet
#       Description: Enables Hunter Starting Pet
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.HunterPet = 1

#   StartingPet.RandName
#       Description: Set random Name for Pet
#       Default: 1 (enabled)
#                0 (disabled)

StartingPet.RandName = 1

#   StartingPet.WarlockMinion
#       Description: Specifies the minions warlocks can start with and teaches them the according spell
#                    Note that minion spells also have a minimum level and might not have any spells on low levels
#                    This is a bitmask value of the following options
#
#                    1 - Imp
#                    2 - Voidwalker
#                    4 - Succubus
#                    8 - Felhunter
#                   16 - Felguard (only possible starting minion, does not teach spell)
#                   32 - Drain Soul (teaches spell, required for Soul Shards)
#
#       Example:    41 - Imp, Felhunter, Drain Soul
#                    0 - disabled
#
#       Default:    47

StartingPet.WarlockMinion = 47